/node_modules
/vendor
/public/build
/0.PDFs
/0.deployment

/includes/database.php
/includes/.env
package-lock.json
composer.lock

z.foreigns_keys_workbench.PNG
z.40-AppSalonBD.pdf
z.41-RegistroUsuarios.pdf 
/classes/Email.php