.seccion {

    display: none;
    padding: 5rem 0;

    .text-center {
        text-align: center;
    }

    // VIDEO 491 - en este video comenta las 4 lineas de aabajo para hacerlo de otra manera, ya que con (2) y (3) no funciona como se supone deberia funcionar (ver VIDEO 491, donde lo dice) 
    // &:nth-child(2),
    // &:nth-child(3) {
    //     display: none;
    // }
    /* con &:nth-child(1) estoy haciendo referencia al elemento hijo nro. 1 que tenga clase="seccion" */

    /* 
    EJEMPLO vvv
    <div> -> elemento padre
        <section class="seccion"></section> -> &:nth-child(1)
        <section class="seccion"></section> -> &:nth-child(2)
        <section class="seccion"></section> -> &:nth-child(3)
    </div>
    */   
}

.mostrar {
    display: block;
}

.ocultar {
    display: none;
}